{
    "services": [
        ""
    ],
    "prefix": "test",
    "list": [
        {
            "description": "Test1",
            "mark": 1,
            "path": "path",
            "service": "t_service",
            "source": "https://example.com",
            "state": "disabled",
            "target": "orion1:1026",
            "template": "v1"
        },
        {
            "mark": 2,
            "source": "https://example.com",
            "target": "orion2:1026"
        }
    ]
}
